<h1>Welcome</h1>

<h1>ERROR - YOUR BALANCE IS NOT HIGH ENOUGH FOR YOUR REQUESTED WITHDRAWEL</h1>
<h2>Please re-enter your deposit and withdrawel amounts</h2>

<h3>Your current balance is: <%= @user.balance %></h3>

<form action="/account" method="POST">

    <p>Enter Deposit Amount:<input type="integer" name="deposit"></p>
    <br/>
    <br/>
    <p>Enter Withdrawel Amount:<input type="integer" name="withdrawel"/></p>
    <br/>
    <br/>
    <input type="submit" name="submit"/>

</form>
<p>We are currently working on your account.</p>

<p><a href="/logout">Log Out</a></p>
